<!DOCTYPE html>


{% comment %}  장고의 기능을 쓸 수 있는 장고 템플릿 {} {% endcomment %}
{% comment %} 처리 이후 결과를 넣어주는데 html에 그 값이 남지 않는다 {% endcomment %}
{% load static %}


<html lang="ko">
<head>
  <title>My Little Lotto</title>

  {% comment %} setting과 관련된 것 {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% comment %} CSS 파일 링크 걸어 놓은 건데 bootstrap 사용함 {% endcomment %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  {% comment %} 유사 경로가 생기고 lotto.css 파일 새롭게 만들어진다 이게 그거임 {% endcomment %}
  <link rel='stylesheet' href="{% static 'css/lotto.css'%}"> 
  {% comment %} <link rel="stylesheet" href="{% static 'css/lotto.css' %}"> {% endcomment %}

</head>

<body>
  <div class="page-header">
    <h1>
      Selected Lotto Numbers
      {% comment %} url Reversing - 별명을 사용할 수 있다. urls.py - urlpattern에 있는 alias를 사용하자 {% endcomment %}
            <a href="{% url 'new_lotto' %}"> 
            <span class="glyphicon glyphicon-plus btn btn-default"></span>
            </a>
          </h1>
      
    
  </div>


  <div class="container lotto">
    {% for lotto in lottos %}
      <!-- urls.py의 name='detail' 과 lottokey 에 해당 -->
      <h2><a href="{% url 'detail' lottokey=lotto.pk %}">{{lotto.text}}</a></h2>
      <p>{{ lotto.update_date }}</p>
      <p>{{ lotto.lottos | linebreaksbr }}</p>
    {% endfor %}


    
  </div>

  {% comment %}  {% endcomment %}
</body>
</html>
